<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aurora.paperviewerenvironment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/description"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- Required internal services -->
        <meta-data android:name="TEXT_EXTRACTION"
            android:value="true" />
        <meta-data android:name="IMAGE_EXTRACTION"
            android:value="true" />

        <activity android:name="com.aurora.paperviewerenvironment.MainActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
            <intent-filter>
                <action android:name="com.aurora.auroralib.AURORA_PLUGIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity android:name="com.aurora.paperviewerenvironment.SettingsActivity"
            android:parentActivityName="com.aurora.paperviewerenvironment.MainActivity"></activity>
    </application>

</manifest>